:root {
    --blanco: #fff;
    --negro: #000;
    --grisOscruo: #242121;
    --amarillo: #ffc107;
    --fuentePrimaria:'Raleway', sans-serif;
    --fuenteSecundaria:'Josefin', sans-serif;
    --fuenteTerciacia: #8F8F8E; 
    --grisClaro: #EFEDED;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

/** 1.INDEX **/

/** Navegación **/
.enlaces {
    background-color: var(--blanco);
    margin-top: auto;
    padding: 1rem;
    font-family: var(--fuentePrimaria);
    height: 120px;
}

@media (min-width: 768px) {
    .enlaces {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 130px;
    }
}

@media (min-width: 768px) {
    .enlaces {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 30px;
    }
}

.enlace__principal {
    font-size: 3rem;
    font-weight: 200;
    text-decoration: none;
    color: var(--negro);
}

.enlace__principal span { 
    font-weight: 500;
}

.enlaces__secundarios {
    font-size: 1.5rem;
    font-weight: 200;
    text-align: right;
    align-content: center;
    list-style-type: none;
    text-align: left;
    height: 50px;
}

@media (min-width: 780px) {
    .enlaces__secundarios {
        flex-direction: column;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.enlaces__secundarios a {
    text-decoration: none;
    color: var(--negro);
    text-transform: uppercase;
}

.enlace__inicio {
    font-weight: bold;
}

/** Fin navegación **/

/** Imagen Principal **/

.contenedor1 {
    width: 100%;
    height: 100%;
    margin-top: 5rem;
}

@media (min-width:480px) {
    .contenedor1 {
        margin-top: 2rem;
        }
    }

.portada {
    width: 100%;
    height: 700px;
}

@media (min-width:480px) {
.portada {
    width: 50%;
    height: 50%;
    }
}

.texto1 h1 {
    font-size: 1.2rem;
    color: var(--grisOscruo);
    text-align: center;
    text-transform: uppercase;
}

@media (min-width:480px) {
    .texto1 h1 {
        font-size: 2.2rem;
    }
}

.texto1 h2 {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
}

@media (min-width:480px) {
    .texto1 h2 {
        font-size: 2rem;
    }
}

/** Servicios 1 **/

.contenedor2 {
    background-color: var(--grisClaro);
}

@media (min-width: 480px) {
.contenedor2 {
    display: grid;
    grid-template-columns: 30% 70%;
    }
}

.servicios__img {
    width: 90%;
    margin-left: 2rem;
    border-radius: 10%;
    margin-top: 3rem;
}

.servicios {
    margin-left:5rem;
    margin-top: 5rem;
}

.servicios h1 {
    text-transform: uppercase;
    border-bottom: solid 3px grey; /** Linea larga **/
    font-size: 1.5rem;
}

@media (min-width:480px) {
    .servicios h1 {
        font-size: 2.2rem;
    }
}

.servicios h2 {
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.servicios h3 {
    margin-top: 0rem;
}

.servicios p {
    text-align: justify;
    margin-right: 3rem;
    font-size: 1rem;
}

@media (min-width:480px) {
    .servicios p {
        font-size: 1.7rem;
    }
}

/** Servicios 2 **/

.contenedor3 {
    background-color: var(--grisClaro);
}

@media (min-width: 480px) {
    .contenedor3 {
        display: grid;
        grid-template-columns: 30% 50% 20%;
    }
}

.servicios__img1 {
    width: 90%;
    border-radius: 10%;
    margin-top: 1.5rem;
    margin-left: 2rem;
}

.servicios h2 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: -2rem;
}

.servicios h3 {
    margin-top: 0rem;
}

@media (min-width: 480px) {
    .contenedor-celular  {
        display: flex;
        flex-wrap: wrap;
    }
}

.contenedor-celular p {
    text-align: justify;
    margin-right: 5rem;
}

.servicios__celular {
    width: 100%;
    grid-column: 3/4;

}

@media (max-width: 480px) {
    .contenedor-celular  {
        width: 60%;
    }
}

/** 2. ARQUITECTURA **/

/** Enlaces -- Uso el mismo css que arriba **/

/** Imagen Principal **/

.portada-arq {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
}

@media (min-width:480px) {
    .portada-arq {
        width: 100%;
        height: 700px;
        }
    }

.porfolio h1 {
    font-size: 2rem;
    color: var(--grisOscruo);
    text-align: left;
    margin-left: 5rem;
    text-transform: uppercase;
    border-bottom: solid 3px grey; 
}

/** Galería de fotos **/

@media (min-width: 480px) {
.contenedor-arquitectura {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 58x;
    margin-left: 5rem;
    column-gap: 1rem;
    row-gap: 0rem;
    }
}
.producto {
    width: 100%;
    height: 95%;
}

.grande {
    background-size: cover;
}

.grande {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}
.producto1 {
    width: 100%;
    height: 98%;    
}

.casas {
    position: relative;
    overflow: hidden;
}

.casas-texto {
    position: absolute;
    bottom: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #EFEDED;
    margin-bottom: 0rem;
    transform: translateY(100%);
    transition: all 0.5s ease-out;
}

.casas-texto h1  {
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.casas-texto p {
    text-align: justify;
    font-size: 1.4rem;
}

.casas:hover .casas-texto {
    transform: translateY(0%);
}

/** 3. INTERIORISMO **/

/**Mismas propiedades que en Arq**/

/** 4. NOSOTROS **/

.contenedor-img9 {
    width: 100%;
}

@media (min-width:480px) {
    .contenedor__general {
        width: 100%;
        display: grid;
        grid-template-columns: 30% 70%;
    }
}

.contenedor__equipo img {
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 10%;
    margin-left: 4rem;
}

@media (min-width:480px) {
    .contenedor__equipo img {
        width: 100%;
        margin-left: 1rem;
    }
}

.contenedor__gris {
    background-color: var(--grisClaro);
}

@media (min-width:480px) {
    .contenedor__gris {
        width:1000px;
        height: 450px;
        margin-top: 3rem;
        margin-bottom: 2rem;
        margin-left: -2rem;
        border-radius: 10%;
    }
}

.contenedor__alto h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 2rem;
}

.contenedor__alto p {
    text-align: justify;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
}

@media (min-width:480px) {
    .contenedor__alto p {
        font-size: 1.65rem;
    }
}

@media (min-width:480px) {
    .contenedor__bajo {
        display: grid;
        grid-template-columns: 35% 65%;
        column-gap: 0rem;
        width: 100%;
    }
}

.contenedor__bajo p{
    text-align: justify;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-top: 0rem;
    line-height: 2rem;
    font-size: 1.5rem;
}

@media (min-width:480px) {
    .contenedor__bajo p{
    font-size: 1.65rem;
    }
}

.contenedor__bajo img {
    width: 80%;
    margin-left: 4rem;
    border-radius: 10%;
}

@media (min-width:480px) {
    .contenedor__bajo img {
        width: 500px;
        height: 260px;
        transform: translate(30px, -40px);
    }
}

/** 5. CONTACTO **/

/** Img portada **/

.portada {
    width: 100%;
}

/** Formulario **/

.formulario {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 4rem;
    font-family: var(--fuentePrimaria);
}

.formulario img {
    width: 500px;
    height: 550px;
    border-radius: 10%;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.formulario fieldset {
    border: none;
}

.formulario__form {
    width: 75rem;
    height: 37;
}

.contacto {
    text-transform: uppercase;
    text-align: center;
}

.campo {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(2 1fr);
}

.campo1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.boton {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(2 1fr);
}

/** FOOTER **/

.contenedor4 {
    background-color:var(--grisOscruo);
    color: var(--blanco);
    margin-top: auto;
    font-family: var(--fuentePrimaria);
}

@media (min-width: 480px) {
    .contenedor4 {
        display: grid;
        grid-template-columns:25% 25% 25% 25%;
        margin-top: 0rem;
    }
}

.footer__ph h3{
    text-transform: uppercase;
    margin-left: 2rem;
    font-weight: 300;
    margin-top: 2rem;
}

.footer__ph h3 span {
    text-transform: uppercase;
    font-weight: 500;
}

.footer__datos ul {
    font-family: var(--fuenteSecundaria);
    list-style-type: none;
    line-height: 3rem;     /** Interlineado **/
    margin-top: 2rem;
}

.footer__avisos ul {
    font-family: var(--fuenteSecundaria);
    list-style-type: none;
    line-height: 3rem;
    margin-top: 2rem;
}

.footer__iconos {
    margin-top: 3rem;
    margin-left: 34px;
    margin-top: 2rem;
}