/** Navegación **/

.enlaces {
    background-color: $blanco;
    margin-top: auto;
    padding: 1rem;
    font-family: $fuentePrimaria;
    height: 140px;

    @media (min-width: 768px) {
        height: 120px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 30px;
        padding-bottom: 1rem;
    }
}

.enlace__principal {
    font-size: 3rem;
    font-weight: 200;
    text-decoration: none;
    color: $negro;

    span {
        font-weight: 500;
    }
}

.enlaces__secundarios {
    font-size: 1.5rem;
    font-weight: 200;
    align-content: center;
    list-style-type: none;
    text-align: left;
    height: 50px;

    @media (min-width: 768px) {
        flex-direction: column;
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    li {
        padding: 0 5px 0 5px;
    }

    a {
        text-decoration: none;
        color: $negro;
        text-transform: uppercase;
    }

}

.enlace__inicio {
    font-weight: bold;
}

/** Fin navegación **/